@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <link rel="stylesheet" href="~/css/styles.min.css" />
</head>

<body class="overflow-hidden">
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a asp-controller ="Home" asp-action="Index" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <h1 class="display-8">
                                        <span class="align-middle">
                                            <i class="ti ti-chart-pie fs-11"></i>
                                        </span>
                                        <span class="d-inline-block align-middle"><strong>Employee Odyssey</strong></span>
                                    </h1>
                                </a>
                                <p class="text-center">Your Employee Manager</p>
                                <form id="account" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="mb-3">
                                        <label asp-for="Input.Email" class="form-label">Username</label>
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="mb-4">
                                        <label asp-for="Input.Password" class="form-label">Password</label>
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input primary" asp-for="Input.RememberMe" checked>
                                            <label class="form-check-label text-dark" asp-for="Input.RememberMe">
                                                Remeber this Device
                                            </label>
                                        </div>
                                        <a class="text-primary fw-bold" id="forgot-password" asp-page="./ForgotPassword">Forgot Password ?</a>
                                    </div>

                                    <button id="login-submit" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">New around here?</p>
                                        <a class="text-primary fw-bold ms-2" asp-area="Identity" asp-page="/Account/Register">Create an account</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
    <!--<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
