@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<head>
    <link rel="stylesheet" href="~/css/styles.min.css" />
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <a asp-controller="Home" asp-action="Index" class="text-nowrap logo-img text-center d-block py-3 w-100">
            <h1 class="display-8">
                <span class="align-middle">
                    <i class="ti ti-chart-pie fs-11"></i>
                </span>
                <span class="d-inline-block align-middle"><strong>Employee Odyssey</strong></span>
            </h1>
        </a>
        <p class="text-center">Your Employee Manager</p>
        <p class="text-center color-secondary">Please check your email to confirm your account.</p>
    </div>
</body>