@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">
            <span class="d-inline-block align-middle"><strong>Welcome to <i class="ti ti-chart-pie fs-11"></i> Employee Odyssey</strong></span>
        </h1>
        <p class="lead">Manage your projects, tasks, leave allocations, and leave requests <em>efficiently</em>.</p>
        <hr class="my-4">
        <p>Get started by registering so you can start <strong>exploring</strong> the various functionalities of the project.</p>
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/ryan-ray-perez/" role="button">Learn more about the developer <i class="ti ti-user fs-11"></i></a>
    </div>
</div>