@model CustomerRelationsManagement.Common.Models.LeaveTypeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaveType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Edit</a>
</div>

