@model CustomerRelationsManagement.Web.Models.AnnouncementViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Announcement Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Edit</a>
</div>
