
@{
    ViewData["Title"] = "Assign Department";
}

<h1><strong>Assign Department</strong></h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="AssignDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="employeeId" value="@ViewBag.EmployeeId" />
            <label for="Department">Select Department:</label>
            <select id="Department" name="department" class="form-select">
                @foreach (var department in ViewBag.Departments)
                {
                    <option value="@department.Text" selected="@department.Selected">@department.Text</option>
                }
            </select>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
