﻿@{
    ViewData["Title"] = "Assign Position";
}

<h1><b>Assign Position</b></h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="AssignPosition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="employeeId" value="@ViewBag.EmployeeId" />
            <label for="Position">Select Position:</label>
            <select id="Position" name="positionId" class="form-select">
                @foreach (var position in ViewBag.Positions)
                {
                    <option value="@position.Value" selected="@position.Selected">@position.Text</option>
                }
            </select>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>