@model CustomerRelationsManagement.Web.Models.ProjectTaskEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProjectTaskViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="IsComplete" class="control-label"></label>
                <div>
                    <button type="button" class="btn btn-success" id="completeBtn">Complete</button>
                    <button type="button" class="btn btn-danger" id="incompleteBtn">Incomplete</button>
                </div>
            </div>
            <input type="hidden" asp-for="IsComplete" id="isCompleteField" />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.TaskPriority)
                @Html.DropDownListFor(model => model.TaskPriority, Enum.GetValues(typeof(TaskPriority)).Cast<TaskPriority>().Select(p =>
                new SelectListItem
                {
                Text = p.ToString(),
                Value = p.ToString()
                }), "Select Priority", new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DateDue" class="control-label"></label>
                <input asp-for="DateDue" class="form-control" />
                <span asp-validation-for="DateDue" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-controller="Home" asp-action="ProjectDetails" asp-route-projectId="@Model?.ProjectId" class="btn btn-dark">Back to Project</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#completeBtn").click(function () {
            $("#isCompleteField").val("true");
        });

        $("#incompleteBtn").click(function () {
            $("#isCompleteField").val("false");
        });
    });
</script>