@model CustomerRelationsManagement.Common.Models.ProjectCreateViewModel

@{
    ViewData["Title"] = "Create Project";
}

<h1>Create Project</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Team Members</label>
                @foreach (var employee in Model.Employees)
                {
                    <div>
                        <input type="checkbox" name="EmployeeIds" value="@employee.Id" id="employee_@employee.Id" checked="@(Model.EmployeeIds?.Contains(employee.Id) ?? false)" />
                        <label for="employee_@employee.Id">@employee.FirstName @employee.LastName</label>
                    </div>
                }
                <span asp-validation-for="EmployeeIds" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark"> Back to List</a> &nbsp;
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
